.PostOffer_wrapper{
    border-radius: 10px;
    flex-shrink: 0;
    background-color: #f4e3d0;
    min-width: 274px;
    transition: 0.5s;
}
.PostOffer_wrapper:hover{
    transform: translateY(-2px);
    background-color: #f6ddbf;
}
.PostOffer_wrapper:active{
    cursor: grabbing;
}
.PostOffer_wrapper_img{
    width: 100%;
    height: 50%;
}
.w130{
    min-width: 200px;
    height: 400px;
    position: relative;
}
    
