.i{
    width: 20px;
    height: 20px;
    background-size: cover !important;
    display: inline-block;
    vertical-align: -2px;
    margin-left: 4px;
    align-content: 2px;
    margin-bottom: 2px;
}
.Link{
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: #777;
    height: 100%;
}
li{
    color: #555;
}