body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: vazir;
  src: url("./../src/assets/font/vazir-font-v16.1.0/Vazir-Medium.eot"),url("./../src/assets/font/vazir-font-v16.1.0/Vazir-Medium.woff");
}
@font-face {
  font-family: vazirbold;
  src: url("./../src/assets/font/vazir-font-v16.1.0/Vazir-Bold.eot"),url("./../src/assets/font/vazir-font-v16.1.0/Vazir-Bold.woff");
}
*{
  font-family: vazir;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}
a{
  color: #333;
  text-decoration: none !important;
}
.color777{
  color: #777;
}
.color555{
  color: #555;
}
.btn-t{
  transition: 1s;
}
.btn-t:hover{
  color: #fff !important;
}
.bold{
  font-family: vazirbold;
}
.article{
  cursor: pointer;
  min-height: 300px;
  transition: 0.5s;
}
.article h6{
  font-size: 12px;
  text-align: center;
}
.article:hover{
  box-shadow: 5px 20px 10px #494949;
  transform: translateY(10px);
}
.pointer{
  cursor: pointer;
}